* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'roboto';
}



a {
    color: black;
}

h1 {
    font-size: 1.2rem;
    font-weight: 600;
}



nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    /* padding: 1rem 10vw; */
    padding: 1rem calc(20% - 10rem);
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
}

nav img {
    /* width: 10rem; */
    height: 3.5rem;
    object-fit: contain;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

nav ul li {
    text-transform: uppercase;
    font-size: .8rem;
    cursor: pointer;
    font-weight: 500;
}
nav ul li:hover {
    color: #EE6F57;
    transition: all .2s ease;
}



.container {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  /* padding: 2rem 10rem; */
  padding: 2rem calc(20% - 10rem);
  gap: 3rem;
  margin-top: 5rem;
}

.container .kotak-artikel::-webkit-scrollbar {
  width: 0;
}

.kotak-artikel {

    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    /* align-items: center; */
    overflow-y: auto;
}

.kotak-artikel .artikel img:hover {
    filter: opacity(90%);
    transition: all .2s ease-in-out;
}

.kotak-artikel .artikel span.kategori {
    font-weight: 400;
    font-size: .9rem;
    color: #EE6F57;
    /* cursor: pointer; */
}

.kotak-artikel .artikel:nth-child(3n+1) {
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 0;
    gap: 2rem;
    border: 1px solid rgb(197, 197, 197);
    max-height: 60rem;
    /* grid-area: artikel1; */
    /* grid-column: 2; */
    width: 100%;
}

.kotak-artikel .artikel:nth-child(3n+2) {
    /* grid-area: artikel2; */
    width: 100%;
    max-width: 45%;
    flex-grow: 1;
}

.kotak-artikel .artikel:nth-child(3n+3) {
    /* grid-area: artikel3; */
    width: 100%;
    max-width: 45%;
    flex-grow: 1;
}

.kotak-artikel .artikel:nth-child(3n+2), .kotak-artikel .artikel:nth-child(3n+3) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    height: fit-content;
    max-height: 40rem;
}

.kotak-artikel .artikel:nth-child(3n+1) img {
    object-fit: cover;
    width: 100%;
    height: 35rem;
}

.kotak-artikel .artikel:nth-child(3n+2) img, .kotak-artikel .artikel:nth-child(3n+3) img {
    object-fit: cover;
    width: 100%;
    height: 16rem;
}

.kotak-artikel .artikel div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    padding: 0 2rem;
}

.kotak-artikel .artikel .bungkus-sosmed {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    align-items: center;
    margin: 0 2rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.kotak-artikel .artikel:nth-child(3n+2) .bungkus-sosmed, .kotak-artikel .artikel:nth-child(3n+3) .bungkus-sosmed {
    justify-content: center;
    border: none;
    padding: 0;
}
/* .kotak-artikel .artikel:nth-child(3n+2) .bungkus-sosmed::before, .kotak-artikel .artikel:nth-child(3n+3) .bungkus-sosmed::before {
    content: ' --------------';
    text-align: center;
}
.kotak-artikel .artikel:nth-child(3n+2) .bungkus-sosmed::after, .kotak-artikel .artikel:nth-child(3n+3) .bungkus-sosmed::after {
    content: ' --------------';
    text-align: center;
} */

.kotak-artikel .artikel div h1 {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
}
.kotak-artikel .artikel div h1:hover {
    color: gray;
    transition: all .2s ease-in;
}

/* .kotak-artikel .artikel div .text-ellipsis{
    width: 100%;
    background-color: rebeccapurple;
    overflow: auto;
} */

.kotak-artikel .artikel:nth-child(3n+2) div span, .kotak-artikel .artikel:nth-child(3n+3) div span {
    text-align: center;
}

.kotak-artikel .artikel:nth-child(3n+2) div h1, .kotak-artikel .artikel:nth-child(3n+3) div h1 {
    text-align: center;
}

.kotak-artikel .artikel:nth-child(3n+1) div ul.keterangan{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
}

.kotak-artikel .artikel:nth-child(3n+2) div ul.keterangan, .kotak-artikel .artikel:nth-child(3n+3) div ul.keterangan {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.kotak-artikel .artikel div ul.keterangan p {
    font-size: .8rem;
}

.kotak-artikel .artikel div ul.keterangan p span {
    font-size: .9rem;
    font-weight: 400;
}

.kotak-artikel .artikel:nth-child(3n+1) div span.baris {
    border-bottom: 1px solid #070D59;
    width: 4rem;
}

.kotak-artikel .artikel:nth-child(3n+2) div span.baris, .kotak-artikel .artikel:nth-child(3n+3) div span.baris {
    border-bottom: 1px solid #070D59;
    width: 4rem;
    margin: 0 auto;
}

.kotak-artikel .artikel:nth-child(3n+2) div ul p, .kotak-artikel .artikel:nth-child(3n+3) div ul p {
    text-align: center;
    font-weight: 300;
}


.kotak-artikel .artikel.artikel div p{
    line-height: 2rem;
    font-weight: 300;
    font-size: 1rem;
    font-family: 'poppins';
}

.kotak-artikel .artikel.artikel div p.text-ellipsis a {
    color: #1F3C88;
}

.kotak-artikel .artikel div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.kotak-artikel .artikel div ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.kotak-artikel .artikel div .komen {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    cursor: pointer;
}

.kotak-artikel .artikel:nth-child(3n+2) div .komen, .kotak-artikel .artikel:nth-child(3n+3) div .komen {
    display: none;
}

.kotak-artikel .artikel div .komen li {
    font-size: 1rem;
}

.kotak-artikel .artikel div .komen li.material-symbols-rounded {
    font-size: 1.2rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' -25,
  'opsz' 20

}

.kotak-artikel .artikel div.bungkus-sosmed ul li {
    cursor: pointer;
}

.kotak-artikel .artikel:nth-child(3n+1) div.bungkus-sosmed ul .baris {
    display: none;
} 

.kotak-artikel .artikel div.bungkus-sosmed ul .baris {
    width: 5vw;
    height: 1px;
    text-align: center;
    background-color: gray;
}



.artikel-terbaru {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    min-height: 90vh;
    height: fit-content;
}

.artikel-terbaru div img:hover {
    filter: opacity(90%);
    transition: all .2s ease-in-out;
}

.artikel-terbaru>h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .5rem;
    border: 5px double gray;
    border-radius: 0px 20px 0px 20px;
}

.artikel-terbaru input {
    border-radius: 100rem;
    padding: .5rem 1rem;
    outline: none;
    border: 1px solid black;
}

.artikel-terbaru div {
    border-bottom: 1px solid rgb(200, 200, 200);
}

.artikel-terbaru div ul div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0;
}

.artikel-terbaru div ul div img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.artikel-terbaru div ul div li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.artikel-terbaru div ul div li h1 {
    font-size: 1rem;
    cursor: pointer;
    text-transform: capitalize;
}
.artikel-terbaru div ul div li h1:hover {
    color: gray;
    transition: all .2s ease-in-out;
}

.artikel-terbaru div ul div li p {
    font-size: .8rem;
    color: gray;
}




footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10rem;
}

footer div.sosmed {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-bottom: 1px solid black;
    margin: 0 5rem;
}

footer div.sosmed ul {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

footer div.sosmed ul {
    color: #1F3C88;
    cursor: pointer;
}

footer div.sosmed ul:hover, footer div.sosmed ul:hover li {
    color: #070D59;
    border-color: #070D59;
    transition: all .2s ease-in-out;
}
footer div.sosmed ul:hover li.fa {
    background-color: #070D59;
    color: white;
    transition: all .2s ease-in-out;
}

footer div.sosmed li.fa {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    border: 1px solid #1F3C88;
    cursor: pointer;
    padding: 1.5rem;
    font-size: 1.3rem;
}

footer div.copyright {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer div.copyright img {
    width: 10rem;
    object-fit: contain;
}

footer div.copyright ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

footer div.copyright ul li {
    font-size: .9rem;
    cursor: pointer;
    color: gray;
}
footer div.copyright ul li:hover {
    color: black;
}

footer div.copyright em {
    color: gray;
    font-size: .9rem;
}



/* responsive 950px */

@media (max-width: 950px) {
    * {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'roboto';
    }
    
    
    
    a {
        color: black;
    }
    
    h1 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    
    
    nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
        padding: 1rem calc(20% - 10rem);
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
    }
    
    nav img {
        /* width: 10rem; */
        height: 3.5rem;
        object-fit: contain;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    
    }
    
    nav ul li {
        text-transform: uppercase;
        font-size: .9rem;
        cursor: pointer;
    }
    nav ul li:hover {
        color: #EE6F57;
        transition: all .2s ease;
    }
    
    
    
    .container {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 2rem;
      gap: 5rem;
      margin-top: 5rem;
    }
    
    .container .kotak-artikel::-webkit-scrollbar {
      width: 0;
    }
    
    .kotak-artikel {
    
        /* display: grid;
        grid-template-columns: repeat(2, 1fr); */
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    
    .kotak-artikel .artikel img:hover {
        filter: opacity(90%);
        transition: all .2s ease-in-out;
    }
    
    .kotak-artikel .artikel span.kategori {
        font-weight: 400;
        font-size: .9rem;
        color: #EE6F57;
        cursor: pointer;
    }
    
    .kotak-artikel .artikel:nth-child(3n+1), .kotak-artikel .artikel:nth-child(3n+2), .kotak-artikel .artikel:nth-child(3n+3) {
        display: flex;
        flex-direction: column;
        padding: 0 0 2rem 0;
        gap: 2rem;
        border: 1px solid rgb(197, 197, 197);
        max-height: 60rem;
        width: 100%;
        max-width: 100%;
    }
    
    .kotak-artikel .artikel:nth-child(3n+1) img {
        object-fit: cover;
        width: 100%;
        height: 35rem;
    }
    
    .kotak-artikel .artikel:nth-child(3n+2) img, .kotak-artikel .artikel:nth-child(3n+3) img {
        object-fit: cover;
        width: 100%;
        height: 35rem;
    }
    
    .kotak-artikel .artikel div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        padding: 0 2rem;
    }
    
    .kotak-artikel .artikel .bungkus-sosmed {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        align-items: center;
        margin: 0 2rem;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

    .kotak-artikel .artikel:nth-child(3n+2) .bungkus-sosmed, .kotak-artikel .artikel:nth-child(3n+3) .bungkus-sosmed {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        align-items: center;
        margin: 0 2rem;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }
    
    .kotak-artikel .artikel div h1 {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 500;
    }
    .kotak-artikel .artikel div h1:hover {
        color: gray;
        transition: all .2s ease-in;
    }
    
    /* .kotak-artikel .artikel div .text-ellipsis{
        width: 100%;
        background-color: rebeccapurple;
        overflow: auto;
    } */
    
    .kotak-artikel .artikel:nth-child(3n+2) div span, .kotak-artikel .artikel:nth-child(3n+3) div span {
        text-align: start;
    }
    
    .kotak-artikel .artikel:nth-child(3n+2) div h1, .kotak-artikel .artikel:nth-child(3n+3) div h1 {
        text-align: start;
    }
    
    .kotak-artikel .artikel:nth-child(3n+1) div ul.keterangan, .kotak-artikel .artikel:nth-child(3n+2) div ul.keterangan, .kotak-artikel .artikel:nth-child(3n+3) div ul.keterangan {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: start;

    }
    
    .kotak-artikel .artikel div ul.keterangan p {
        font-size: .8rem;
    }
    
    .kotak-artikel .artikel div ul.keterangan p span {
        font-size: .9rem;
        font-weight: 400;
    }
    
    .kotak-artikel .artikel:nth-child(3n+1) div span.baris, .kotak-artikel .artikel:nth-child(3n+2) div span.baris, .kotak-artikel .artikel:nth-child(3n+3) div span.baris {
        border-bottom: 1px solid #070D59;
        width: 4rem;
        margin: 0;
        transform: translateY(-10px);
    }
    
    .kotak-artikel .artikel:nth-child(3n+2) div ul p, .kotak-artikel .artikel:nth-child(3n+3) div ul p {
        text-align: start;
        font-weight: 300;
    }
    
    
    .kotak-artikel .artikel.artikel div p{
        line-height: 2rem;
        font-weight: 300;
        font-size: 1rem;
        font-family: 'poppins';
    }
    
    .kotak-artikel .artikel.artikel div p.text-ellipsis a {
        color: #1F3C88;
    }
    
    .kotak-artikel .artikel div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .kotak-artikel .artikel div ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    
    .kotak-artikel .artikel div .komen {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        /* border-top: 1px solid rgb(209, 209, 209);
        border-bottom: 1px solid rgb(209, 209, 209); */
        cursor: pointer;
    }
    
    .kotak-artikel .artikel:nth-child(3n+2) div .komen, .kotak-artikel .artikel:nth-child(3n+3) div .komen {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        /* border-top: 1px solid rgb(209, 209, 209);
        border-bottom: 1px solid rgb(209, 209, 209); */
        cursor: pointer;
    }
    
    .kotak-artikel .artikel div .komen li {
        font-size: 1rem;
    }
    
    .kotak-artikel .artikel div .komen li.material-symbols-rounded {
        font-size: 1.2rem;
      font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' -25,
      'opsz' 20
    
    }
    
    .kotak-artikel .artikel:nth-child(3n+1) div.bungkus-sosmed ul .baris, .kotak-artikel .artikel:nth-child(3n+2) div.bungkus-sosmed ul .baris, .kotak-artikel .artikel:nth-child(3n+3) div.bungkus-sosmed ul .baris {
        display: none;
    } 
    
    .kotak-artikel .artikel div.bungkus-sosmed ul .baris {
        width: 5vw;
        height: 1px;
        text-align: center;
        background-color: gray;
    }
    
    
    
    .artikel-terbaru {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        height: fit-content;
    }
    
    .artikel-terbaru div img:hover {
        filter: opacity(90%);
        transition: all .2s ease-in-out;
    }
    
    .artikel-terbaru>h2 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        padding: .5rem;
        border: 5px double gray;
        border-radius: 0px 20px 0px 20px;
    }
    
    .artikel-terbaru input {
        border-radius: 100rem;
        padding: .5rem 1rem;
        outline: none;
        border: 1px solid black;
    }
    
    .artikel-terbaru div {
        border-bottom: 1px solid rgb(200, 200, 200);
    }
    
    .artikel-terbaru div ul div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem 0;
    }
    
    .artikel-terbaru div ul div img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
    }
    
    .artikel-terbaru div ul div li {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .artikel-terbaru div ul div li h1 {
        font-size: 1rem;
        cursor: pointer;
        text-transform: capitalize;
    }
    .artikel-terbaru div ul div li h1:hover {
        color: #070D59;
        transition: all .2s ease-in-out;
    }
    
    .artikel-terbaru div ul div li p {
        font-size: .8rem;
        color: gray;
    }
    
    
    
    
    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 5rem;
    }
    
    footer div.sosmed {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        border-bottom: 1px solid black;
        margin: 0 5rem;
    }
    
    footer div.sosmed ul {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
    }
    
    footer div.sosmed ul {
        color: #1F3C88;
        cursor: pointer;
    }
    
    footer div.sosmed ul:hover, footer div.sosmed ul:hover li {
        color: #070D59;
        border-color: #070D59;
        transition: all .2s ease-in-out;
    }
    
    footer div.sosmed li.fa {
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100rem;
        border: 1px solid #1F3C88;
        cursor: pointer;
        padding: 1.5rem;
        font-size: 1.3rem;
    }
    
    footer div.copyright {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    
    footer div.copyright img {
        width: 10rem;
        object-fit: contain;
    }
    
    footer div.copyright ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    footer div.copyright ul li {
        font-size: .9rem;
        cursor: pointer;
        color: gray;
    }
    footer div.copyright ul li:hover {
        color: black;
    }
    
    footer div.copyright em {
        color: gray;
        font-size: .9rem;
    }
}







/* responsive hp 500px */

@media (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'roboto';
    }
    
    
    
    a {
        color: black;
    }
    
    h1 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    
    
    nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
        padding: 1rem 5vw;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
    }
    
    nav img {
        /* width: 10rem; */
        height: 2rem;
        object-fit: contain;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5rem 2rem;
        justify-content: center;
    
    }
    
    nav ul li {
        text-transform: uppercase;
        font-size: .7rem;
        cursor: pointer;
    }
    nav ul li:hover {
        color: #EE6F57;
        transition: all .2s ease;
    }
    
    
    
    .container {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 1rem 1rem;
      gap: 5rem;
      margin-top: 8rem;
    }
    
    .container .kotak-artikel::-webkit-scrollbar {
      width: 0;
    }
    
    .kotak-artikel {
    
        /* display: grid;
        grid-template-columns: repeat(2, 1fr); */
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    
    .kotak-artikel .artikel img:hover {
        filter: opacity(90%);
        transition: all .2s ease-in-out;
    }
    
    .kotak-artikel .artikel span.kategori {
        font-weight: 400;
        font-size: .9rem;
        color: #EE6F57;
        cursor: pointer;
    }
    
    .kotak-artikel .artikel:nth-child(3n+1), .kotak-artikel .artikel:nth-child(3n+2), .kotak-artikel .artikel:nth-child(3n+3) {
        display: flex;
        flex-direction: column;
        padding: 0 0 2rem 0;
        gap: 2rem;
        border: 1px solid rgb(197, 197, 197);
        max-height: 60rem;
        width: 100%;
        max-width: 100%;
    }
    
    .kotak-artikel .artikel:nth-child(3n+1) img {
        object-fit: cover;
        width: 100%;
        height: 13rem;
    }
    
    .kotak-artikel .artikel:nth-child(3n+2) img, .kotak-artikel .artikel:nth-child(3n+3) img {
        object-fit: cover;
        width: 100%;
        height: 13rem;
    }
    
    .kotak-artikel .artikel div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        padding: 0 2rem;
    }
    
    .kotak-artikel .artikel .bungkus-sosmed {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        align-items: center;
        margin: 0 2rem;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

    .kotak-artikel .artikel:nth-child(3n+2) .bungkus-sosmed, .kotak-artikel .artikel:nth-child(3n+3) .bungkus-sosmed {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        align-items: center;
        margin: 0 2rem;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }
    
    .kotak-artikel .artikel div h1 {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
    }
    .kotak-artikel .artikel div h1:hover {
        color: gray;
        transition: all .2s ease-in;
    }
    
    /* .kotak-artikel .artikel div .text-ellipsis{
        width: 100%;
        background-color: rebeccapurple;
        overflow: auto;
    } */
    
    .kotak-artikel .artikel:nth-child(3n+1) div span, .kotak-artikel .artikel:nth-child(3n+2) div span, .kotak-artikel .artikel:nth-child(3n+3) div span {
        text-align: start;
        font-size: .8rem;
    }
    
    .kotak-artikel .artikel:nth-child(3n+2) div h1, .kotak-artikel .artikel:nth-child(3n+3) div h1 {
        text-align: start;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
    }
    
    .kotak-artikel .artikel:nth-child(3n+1) div ul.keterangan, .kotak-artikel .artikel:nth-child(3n+2) div ul.keterangan, .kotak-artikel .artikel:nth-child(3n+3) div ul.keterangan {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: start;

    }
    
    .kotak-artikel .artikel div ul.keterangan p {
        font-size: .8rem;
    }
    
    .kotak-artikel .artikel div ul.keterangan p span {
        font-size: .9rem;
        font-weight: 400;
    }
    
    .kotak-artikel .artikel:nth-child(3n+1) div span.baris, .kotak-artikel .artikel:nth-child(3n+2) div span.baris, .kotak-artikel .artikel:nth-child(3n+3) div span.baris {
        border-bottom: 1px solid #070D59;
        width: 4rem;
        margin: 0;
        transform: translateY(-10px);
    }
    
    .kotak-artikel .artikel:nth-child(3n+2) div ul p, .kotak-artikel .artikel:nth-child(3n+3) div ul p {
        text-align: start;
        font-weight: 300;
    }
    
    
    .kotak-artikel .artikel.artikel div p{
        line-height: 2rem;
        font-weight: 300;
        font-size: .9em;
        font-family: 'poppins';
    }
    
    .kotak-artikel .artikel.artikel div p.text-ellipsis a {
        color: #1F3C88;
    }
    
    .kotak-artikel .artikel div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .kotak-artikel .artikel div ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    
    .kotak-artikel .artikel div .komen {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        /* border-top: 1px solid rgb(209, 209, 209);
        border-bottom: 1px solid rgb(209, 209, 209); */
        cursor: pointer;
    }
    
    .kotak-artikel .artikel:nth-child(3n+2) div .komen, .kotak-artikel .artikel:nth-child(3n+3) div .komen {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        /* border-top: 1px solid rgb(209, 209, 209);
        border-bottom: 1px solid rgb(209, 209, 209); */
        cursor: pointer;
    }
    
    .kotak-artikel .artikel div .komen li {
        font-size: 1rem;
    }
    
    .kotak-artikel .artikel div .komen li.material-symbols-rounded {
        font-size: 1.2rem;
      font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' -25,
      'opsz' 20
    
    }
    
    .kotak-artikel .artikel:nth-child(3n+1) div.bungkus-sosmed ul .baris, .kotak-artikel .artikel:nth-child(3n+2) div.bungkus-sosmed ul .baris, .kotak-artikel .artikel:nth-child(3n+3) div.bungkus-sosmed ul .baris {
        display: none;
    } 
    
    .kotak-artikel .artikel div.bungkus-sosmed ul .baris {
        width: 5vw;
        height: 1px;
        text-align: center;
        background-color: gray;
    }
    
    
    
    .artikel-terbaru {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: fit-content;
    }
    
    .artikel-terbaru div img:hover {
        filter: opacity(90%);
        transition: all .2s ease-in-out;
    }
    
    .artikel-terbaru>h2 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        padding: .5rem;
        border: 5px double gray;
        border-radius: 0px 20px 0px 20px;
    }
    
    .artikel-terbaru input {
        border-radius: 100rem;
        padding: .5rem 1rem;
        outline: none;
        border: 1px solid black;
    }
    
    .artikel-terbaru div {
        border-bottom: 1px solid rgb(234, 234, 234);
    }
    
    .artikel-terbaru div ul div {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        padding: .5rem 0;
    }
    
    .artikel-terbaru div ul div img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
    }
    
    .artikel-terbaru div ul div li {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .artikel-terbaru div ul div li h1 {
        font-size: 1rem;
        cursor: pointer;
        text-transform: capitalize;
    }
    .artikel-terbaru div ul div li h1:hover {
        color: #070D59;
        transition: all .2s ease-in-out;
    }
    
    .artikel-terbaru div ul div li p {
        font-size: .8rem;
        color: gray;
    }
    
    
    
    
    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 3rem;
    }
    
    footer div.sosmed {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        border-bottom: 1px solid black;
        margin: 0 1rem;
    }
    
    footer div.sosmed ul {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
    }
    
    footer div.sosmed ul {
        color: #1F3C88;
        cursor: pointer;
    }
    
    footer div.sosmed ul:hover, footer div.sosmed ul:hover li {
        color: #070D59;
        border-color: #070D59;
        transition: all .2s ease-in-out;
    }
    
    footer div.sosmed ul {
        font-size: .6rem;
    }
     
    footer div.sosmed li.fa {
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100rem;
        border: 1px solid #1F3C88;
        cursor: pointer;
        padding: .8rem;
        font-size: 1rem;
    }
    
    footer div.copyright {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    
    footer div.copyright img {
        width: 10rem;
        object-fit: contain;
    }
    
    footer div.copyright ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    footer div.copyright ul li {
        font-size: .9rem;
        cursor: pointer;
        color: gray;
    }
    footer div.copyright ul li:hover {
        color: black;
    }
    
    footer div.copyright em {
        color: gray;
        font-size: .9rem;
    }
}